<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>AddIn per editare i PDF</Name><AddInID>{9fd997f6-b4c9-4499-b66c-5a6c8bfb1399}</AddInID><Description>AddIn per editare i PDF</Description><Version>1.2</Version><Image>Images\PDF_logo.png</Image><Author>Giancarlo Messina</Author><Company>Giancarlo Messina</Company><Date>26/09/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="AddIn_Editing_PDF_addin.py" namespace="AddIn_Editing_PDF_addin"><ArcCatalog>
    <Commands>
        <Button caption="Fondi piu' file o elimina pagine" category="AddIn per Editare i PDF" class="EditaPDF" id="AddIn_Editing_PDF_addin.button" image="" message="Cliccando qui si aprira' il GeoProcessing per l'editing dei PDF" tip="Clicca qui per editare i PDF"><Help heading="" /></Button>
        <Button caption="Splitta un PDF in piu' parti" category="AddIn per Editare i PDF" class="SplittaPDF" id="AddIn_Editing_PDF_addin.button_1" image="" message="Cliccando qui si permette di splittare un PDF" tip="Clicca qui per splittare un PDF"><Help heading="" /></Button>
         <Button caption="Modifica metadati di un PDF" category="AddIn per Editare i PDF" class="ModificaMetadatiPDF" id="AddIn_Editing_PDF_addin.button_2" image="" message="Cliccando qui si permette di modificare i metadati di un PDF" tip="Clicca qui per editare i metadati di un PDF"><Help heading="" /></Button>
       </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="GiancaGIS Editing file Adobe PDF" category="AddIn per Editare i PDF" id="AddIn_Editing_PDF_addin.toolbar" showInitially="true"><Items><Menu refID="AddIn_Editing_PDF_addin.menu" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Funzioni per editing file Adobe PDF" category="AddIn per Editare i PDF" id="AddIn_Editing_PDF_addin.menu" isRootMenu="false" isShortcutMenu="true" separator="true"><Items><Button refID="AddIn_Editing_PDF_addin.button" /><Button refID="AddIn_Editing_PDF_addin.button_1" /><Button refID="AddIn_Editing_PDF_addin.button_2" /></Items></Menu>
        </Menus>
    </ArcCatalog></AddIn></ESRI.Configuration>